<div class="nav-menu">
    <div class="container">
        <div class="nav-menu__body">
            <div class="order-btn order-btn--navmenu" [ngClass]="{active:isNavToggle}">
                <a class="order-btn__link" id="bt2-topForm" (click)="openFormClick({typeOfForm:3})">
                    Заказать
                </a> 
            </div>					
            <div class="nav-menu__tel">
                <span></span>
                <a href="tel:88126797550">
                    <small>8 (812)</small> 679-75-50
                </a>
            </div>
            <div class="nav-menu__burgerbody" (click)="isNavToggle=!isNavToggle;isNavDropdown(isNavToggle)">
                <div class="nav-menu__burger" [ngClass]="{active:isNavToggle}">
                    <span></span>
                </div>
            </div>
        </div>	
    </div>		
</div>

<div class="nav-dropdown" [ngClass]="{active:isNavToggle}">
    <ul class="nav-dropdown__menu">
        <li>
            <a [routerLink]="['/']" (click)="isNavToggle=false"><span routerLinkActive="cur" [routerLinkActiveOptions]="{exact: true}">Главная</span></a>
        </li>
        <li>
            <span class="container">Услуги:</span>
            <div class="container">
                <ul class="nav-dropdown__ul">
                    <li>
                        <a [routerLink]="['/rafting']" (click)="isNavToggle=false"><span class="nav-dropdown__link" routerLinkActive="cur" [routerLinkActiveOptions]="{exact: true}">Рафтинг</span></a>                        
                    </li>
                    <li>
                        <a href="/arenda-ploshadok-dlya-meropriyatiy"><span class="nav-dropdown__link">Аренда площадок</span></a>
                    </li>
                    <li>
                        <a href="/provedenie-meropriyatiy"><span class="nav-dropdown__link">Проведение мероприятий</span></a>
                    </li>
                    <li>
                        <a href="/arenda-baydarok-i-kayakov"><span class="nav-dropdown__link">Аренда байдарок</span></a>
                    </li>
                    <li>
                        <a href="/turi-pohodi"><span class="nav-dropdown__link">Туры, походы</span></a>
                    </li>
                    <li>
                        <a href="/drugie-aktivnosti"><span class="nav-dropdown__link">Другие активности</span></a>
                    </li>									
                    <li>
                        <a href="/uksun-rafting-tur"><span class="nav-dropdown__link">Рафтинг в Карелии, Укса</span></a>
                    </li>									
                    <li>
                        <a href="/zimniy-aktivniy-otdih"><span class="nav-dropdown__link">Зимний отдых</span></a>
                    </li>
                    <li>
                        <a href="/podarochnie-sertifikati"><span class="nav-dropdown__link">Подарочные сертификаты</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/otzivi"><span>Отзывы</span></a>
        </li>
        <li>
            <a href="/skidki" class="nav-dropdown__menu--yellow"><span>Скидки</span></a>
        </li>	
        <li>
            <a href="/novosti"><span>Новости</span></a>
        </li>
        <li>
            <a href="/kontakti"><span>Контакты</span></a>
        </li>
    </ul>			
</div>

<div class="header" [ngClass]="{'header--sticky':isOnScroll}">
    <div class="container">
        <div class="header__row">					
            <div class="header__logo">
                <a [routerLink]="['/']" title="База рафтинга в Лосево «Кивиниеми»">
                    <img [defaultImage]="defaultImage" [lazyLoad]="lazyLoad0" alt="База рафтинга в Лосево «Кивиниеми»">
                </a>
            </div>
            <div class="header__menu">
                <a [routerLink]="['/rafting']" routerLinkActive="cur" class="header__btn btn">Рафтинг</a>
                <a class="header__btn btn" href="/arenda-ploshadok-dlya-meropriyatiy">Аренда площадок</a>
                <a class="header__btn btn" href="/provedenie-meropriyatiy">Проведение мероприятий</a>
                <a class="header__btn btn" href="/arenda-baydarok-i-kayakov">Аренда байдарок</a>
                <a class="header__btn btn" href="/turi-pohodi">Туры, походы</a>
                <a class="header__btn btn" href="/drugie-aktivnosti">Другие активности</a>
            </div>
            <div class="header__rightblock">
                <div class="header__phones">
                    <a href="tel:88126797550">8 (812) 679-75-50</a>
                    <a href="tel:88129223319">8 (812) 922-33-19</a>
                </div>
                <div class="header__forms">
                    <a class="header__askquestion" (click)="openFormClick({typeOfForm:5})">
                        <span class="icon-question"></span>Задать вопрос
                    </a>
                    <a class="header__ordercall" (click)="openFormClick({typeOfForm:4})">
                        <span class="icon-tel"></span>Заказать звонок
                    </a>      
                </div>
                <div class="header__worktime">
                    <span class="header__timeicon"></span>
                    время работы: 
                    <span class="header__timetext">10:00 - 19:00</span>,
                    <span class="bold">ежедневно</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu2">
    <div class="container">
        <div class="menu__body">						
            <div class="menu__bottom">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a [routerLink]="['/']" routerLinkActive="cur" [routerLinkActiveOptions]="{exact: true}" class="menu__link">
                            Главная
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Отзывы
                        </a>
                    </li>							
                    <li class="menu__item">
                        <a href="#" class="menu__link menu__link--yellow">
                            Скидки
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Рафтинг в Карелии
                        </a>
                    </li>							
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Подарочные сертификаты
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Контакты
                        </a>
                    </li>							
                </ul>
            </div>
            <div class="order-btn">
                <a id="bt-topForm" class="order-btn__link" (click)="openFormClick({typeOfForm:3})">
                    Заказать
                </a>
            </div>					
        </div>
    </div>
</div>
    