.back-to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 28;
  background-color: rgba(159,159,159,.35);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.22);
  transition: .4s;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;   
  display: none;    
}

.back-to-top:hover {
  background-color: rgba(159, 159, 159, 0.78); 
}
 
.back-to-top img {
  width: 30px;
  margin-top: 15px;
  vertical-align: middle;
  border-style: none;
}

.back-to-top--block {
  display: block !important;
}

@media (max-width: 767px) {
  .back-to-top {
    display: none !important;
  }
}  
