<div class="back-to-top" [ngClass]="{'back-to-top--block':isOnScroll}" (click)="goToTop()">
    <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAP///////////////////////////////////yR8m5UAAAAJdFJOUwCXrtnrCh4Vc6w8nd8AAACeSURBVEjH7dRJEsAgCARAzKb8/8NZjUZRhnOcWw5dg2iFaGSkSghWMTE7szCaSzBPuHD8xBk7DCYToPkIyBQCMK+YZ9AkQbRAJomVyCMmCX9+brr5dJxReyqhGkEos4miaxqiY5riOI98px3R2EFXiLMpQjD5u2qkmK14JUCPOlVtMJHvOrZoIvXEyXQRTTw/Im7zbDmgfzjvAo38OzvebQ7AG84jrAAAAABJRU5ErkJggg==">
</div>
