<div class="content-bg" style="background-image: url(../../assets/img/semeyniy-rafting.jpg)">
    <div class="container">
        <div class="discount"><span>От <span>390</span> р./чел.</span></div>
    </div>
</div>

<div class="container container-main container-content-page">
    <div class="content-page">        
        <h1 class="page-title">Семейный рафтинг</h1>
        <div class="content-text">
            <p>Семейный рафтинг — это определенный подход к спуску по порогу на который мы допускаем возможность брать детей от 7 лет. Дети сплавляются по порогу в сопровождении родителей. Этот спуск возможность показать водную стихию, но обойти сложные участки бурной воды Вуоксы и Лосевского порога. Участников ждут брызги, хорошее настроение и настоящий водный аттракцион.</p>
            <p>Данная программа позволяет нам работать и с детскими организациями. За лето по порогу с нами сплавляются около тысячи воспитанников окрестных лагерей и школ.</p>
        </div><!--/content-text-->
        
        <div class="table-responsive">
            <table class="table table-custom1">
                <colgroup>
                    <col style="width: 16.66%">
                    <col style="width: 16.66%">
                    <col style="width: 16.66%">
                    <col style="width: 16,66%">
                    <col style="width: 16.66%">
                    <col style="width: 16.66%">
                </colgroup>

                <thead>
                <tr>
                <td colspan="2">
                Выбери свой вариант
                </td>

                <td colspan="3">
                Скидки суммируются
                </td>

                <td>
                Суперпредложение
                </td>
                </tr>

                <tr>
                    <td>
                        Услуга
                    </td>
                    <td>
                        Стоимость пт-вс
                    </td>
                    <td>
                        Скидка пн-чт,
                    <span class="h">10%</span>
                    </td>
                    <td>
                        Многодетные
                        семьи, детские
                        организации
                        <span class="h">15%</span>
                    </td>
                    <td>
                        Клубная карта,
                        <span class="h">10%</span>
                    </td>
                    <td>
                        Макс. скидка,
                        <span class="h">35%</span>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr>
                <td>
                Разовый спуск
                на рафте с инструктором
                </td>
                <td>
                600 руб./чел.
                </td>
                <td>
                540 руб./чел.
                </td> 
                <td>
                510 руб./чел.
                </td>
                <td>
                540 руб./чел.
                </td>
                <td>
                390 руб./чел.
                </td>	
                </tr>
                <tr>
                <td>
                2 спуска (1,5 - 2 часа)
                </td>
                <td>
                6000 руб./рафт
                </td>
                <td>
                5400 руб./рафт
                </td> 
                <td>
                5100 руб./рафт
                </td>
                <td>
                5400 руб./рафт
                </td>
                <td>
                3900 руб./рафт
                </td>
                </tr>
                <tr>
                <td>
                3 спуска (2 - 2,5 часа)
                </td>
                <td>
                8900 руб./рафт
                </td>
                <td>
                8010 руб./рафт
                </td> 
                <td>
                7565 руб./рафт
                </td>
                <td>
                8010 руб./рафт
                </td>
                <td>
                5785 руб./рафт
                </td>
                </tr>
                <tr>
                <td>
                4 спуска (2,5 - 3 часа)
                </td>
                <td>
                10900 руб./рафт
                </td>
                <td>
                9810 руб./рафт
                </td>
                <td>
                9265 руб./рафт
                </td>
                <td>
                9810 руб./рафт
                </td>
                <td>
                7085 руб./рафт
                </td>
                </tr>
                <tr>
                <td>
                5 спусков (3 - 3,5 часа)
                </td>
                <td>
                12900 руб./рафт
                </td>
                <td>
                11610 руб./рафт
                </td>
                <td>
                10965 руб./рафт
                </td>
                <td>
                11610 руб./рафт
                </td>
                <td>
                8385 руб./рафт
                </td>
                </tr>
                <tr>
                <td>
                Рафт на день: 8 часов (до 10 спусков)
                </td>
                <td>
                19900 руб./рафт
                </td>
                <td>
                17910 руб./рафт
                </td>
                <td>
                16915 руб./рафт
                </td>
                <td>
                17910 руб./рафт
                </td>
                <td>
                12935 руб./рафт
                </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                <td colspan="6">
                <b>Специальные предложения</b> (не суммируются со скидками)
                </td>

                </tr>
                <tr>
                <td colspan="2">
                Мокрый студент
                </td>

                <td colspan="4">
                20% каждый вторник и среду, при наличии студенческого билета
                </td>

                </tr>
                <tr>
                <td colspan="2">
                С Днём рождения
                </td>

                <td colspan="4">
                -30% на все услуги базы рафтинга Кивиниеми в твой День рождения
                </td>

                </tr>
                <tr>
                <td colspan="2">
                Раннее бронирование
                </td>

                <td colspan="4">
                -20% для тех, кто заранее планирует свой отдых. Не менее, чем за 45 дней.
                </td>

                </tr>
                </tfoot>
            </table>
        </div>
        
        <p>&nbsp;</p>
        <!-- Кнопка Заказать рафтинг -->
        <div class="btn-wrapper">            
            <input class="btn-modal btn-custom" (click)="openFormClick({typeofform:2, typeofact:'Семейный рафтинг'})" value="Заказать сейчас" />
        </div>
        <p>&nbsp;</p>

    </div><!--/content-page-->
</div><!--/container-main-->

<app-four-icons-block></app-four-icons-block>
<div class="container">
    <div class="row video-and-photo">
        <app-video-block>Loading...</app-video-block>
    </div>
</div>
<app-guides-block></app-guides-block>
<app-subscribe-block></app-subscribe-block>