<app-alert></app-alert>

<div class="main-container">
    <nav class="navbar-admin bg-primary-admin">
        <h1>Admin Panel</h1>    
        <ul *ngIf="auth.isAuthenticated()">
            <li routerLinkActive="active">
                <a [routerLink]="['/admin', 'dashboard']">Главная</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/admin', 'create-order']">Новый заказ</a>
            </li> 
            <li>
                <a routerLink="/">Вернуться на сайт</a>
            </li>     
            <li>
                <a href="#" (click)="logout($event)">Выход</a>
            </li>        
        </ul>
    </nav>

    <div class="admin-body"> 
        <router-outlet></router-outlet>
    </div>
</div>
