@import '../../../assets/css/admin.min.css'; /* Стили админки */

html {
  width: 100%    
}

.dash__title {
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 1rem;
}

/* Pagination */

.dash__paginator {
  padding: .75rem 1.25rem;
  border-top: 1px solid rgba(0,0,0,.125);
  background-color: transparent;  
}

.dash__paginator::after {
  content: "";
  display: table;
  clear: both;
}
  
.dash__paginator:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}  

/* / Pagination */

.dash__table {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
  margin-bottom: 10vh;
}

table,
table th,
table td {
  border:1px black solid;
  text-align: center;
  padding: 1rem;
}

table th {
  background: #f4f4f4;
}

table {
  margin: 0..2rem 0;
  width: 100%;
  width: 100%;
  border-collapse: collapse;
}

a.dash__redlink {
  color:red;
}
