@import '../../../assets/css/admin.css'; /* Стили админки */
html {
    width: 100%    
}
.open {
    margin: 10px;
}
table,
table th,
table td {
    border:1px black solid;
    text-align: center;
}
table {
    margin: 40px 0;
}
a.redlink {
    color:red;
}
