<div class="footer-form">
    <div class="footer-form__title">Оставить заявку</div>
    <form [formGroup]="footerForm" novalidate class="footer-form__form">
        <div class="footer-form__body">                 
            <div class="forms__row">
                <label class="forms__label">Выберите услугу:<span class="forms__req">*</span></label>
                <select class="forms__select" name="typeOfAct" formControlName="userTypeofact" [ngClass]="{'forms__row--error': switcher_valid && footerForm.controls['userTypeofact'].invalid}">
                    <option value="">...</option>
                    <option *ngFor="let typeoa of typeOfActs.activities" [value]="typeoa">
                        {{typeoa}}
                    </option>
                </select>         
                <div *ngIf="switcher_valid">
                    <div *ngIf="footerForm.controls['userTypeofact'].invalid" class="forms__errors-text">
                        Для отправки заказа необходимо выбрать услугу
                    </div>
                </div>
            </div>                     

            <div class="forms__row">
                <input class="forms__input" name="name" type="text" placeholder="Введите ваше имя" formControlName="userName" [ngClass]="{'forms__row--error': switcher_valid && footerForm.controls['userName'].invalid}" />
            </div>
            <div *ngIf="switcher_valid">
                <div *ngIf="footerForm.controls['userName'].invalid && footerForm.controls['userName'].touched" class="forms__errors-text">
                    Поле Имя заполнено неверно:
                    <div *ngIf="footerForm.controls['userName'].errors?.userNamePattern">
                        - Использованы некорректные символы
                    </div>
                    <div *ngIf="footerForm.controls['userName'].errors?.minlength">
                        - Должно быть от 2 до 30 символов
                    </div>
                    <div *ngIf="footerForm.controls['userName'].errors?.maxlength">
                        - Должно быть не более 30 символов
                    </div>
                </div>
                <div *ngIf="footerForm.controls['userName'].untouched && footerForm.controls['userName'].invalid" class="forms__errors-text">
                    Поле Имя не заполнено
                </div>  
            </div>

            <div class="forms__row">
                <input class="forms__input" name="phone" type="text" placeholder="Введите телефон" formControlName="userPhone" [ngClass]="{'forms__row--error': switcher_valid && footerForm.controls['userPhone'].invalid}" />
            </div>
            <div *ngIf="switcher_valid">
                <div *ngIf="footerForm.controls['userPhone'].invalid && footerForm.controls['userPhone'].touched" class="forms__errors-text">
                    Поле Телефон заполнено неверно:
                    <div *ngIf="footerForm.controls['userPhone'].errors?.userPhonePattern">
                        - Использованы некорректные символы
                    </div>
                    <div *ngIf="footerForm.controls['userPhone'].errors?.minlength">
                        - Должно быть от 6 до 20 символов
                    </div>
                    <div *ngIf="footerForm.controls['userPhone'].errors?.maxlength">
                        - Должно быть не более 20 символов
                    </div>          
                </div>
                <div *ngIf="footerForm.controls['userPhone'].untouched" class="forms__errors-text">
                    Поле Телефон не заполнено
                </div>  
            </div>

            <div class="forms__row">
                <input class="forms__input" name="email" type="email" placeholder="Введите e-mail" formControlName="userEmail" [ngClass]="{'forms__row--error': switcher_valid && footerForm.controls['userEmail'].invalid}" />
            </div>
            <div *ngIf="switcher_valid">
                <div *ngIf="footerForm.controls['userEmail'].invalid && footerForm.controls['userEmail'].touched" class="forms__errors-text">
                    Поле Email заполнено неверно
                </div>
            </div> 
        </div>
        <input class="forms__submit-btn" type="submit" (click)="submitFooter()" value="Заказать">
    </form>

    <div *ngIf="switcher" class="modal-window" [style.display]="modal_switcher ? 'block' : 'none'">
        <div class="modal-window__wrapper" [style.display]="modal_switcher ? 'block' : 'none'">
            <div class="modal-window__body">

                <div *ngIf="!loading; else loadingBlock">
                    <div class="modal-window__header">
                        Заказ услуги <span class="modal-window__nowrap">{{ footerForm.value['userTypeofact'] }}</span>
                        <div class="modal-window__btn-close" (click)="closeForm()"></div>
                    </div>      
            
                    <div class="modal-window__container" *ngIf="switcher && !formValidError && !receivedFormFooter?.status && !errServ">
                        <div class="modal-window__title">Заказ успешно отправлен!</div>
                        <div class="modal-window__text-left">
                            <label>Ответ сервера:</label>
                            <ul class="modal-window__list">
                                <li>{{receivedFormFooter.name}}</li>
                                <li>{{receivedFormFooter.phone}}</li>
                                <li>{{receivedFormFooter.email}}</li>
                                <li>{{receivedFormFooter.typeOfAct}}</li>
                                <li>Тип формы: {{receivedFormFooter.typeOfForm}}</li>
                                <li>Статус ошибки при отправке заказа: {{receivedFormFooter.status}}</li>
                            </ul>
                        </div>
                        <div class="btn-order">
                            <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                        </div>
                    </div>

                    <div *ngIf="switcher && errServ" class="modal-window__container">
                        <div class="modal-window__text-center">
                            Ошибка отправки данных. Повторите заказ позднее.
                        </div>
                        <div class="btn-order">
                            <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                        </div>          
                    </div>

                    <div *ngIf="switcher && receivedFormFooter?.status" class="modal-window__container"> 
                        <div class="modal-window__text-center">         
                            Ошибка записи в БД. Повторите заказ позднее.
                        </div>
                        <div class="btn-order">
                            <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                        </div>   
                    </div>              
                </div>
              
                <ng-template #loadingBlock>
                    <div class="modal-loading">
                        <p class="modal-loading__text">Отправка...</p>
                        <img src="../../assets/img/formloader200.svg">
                    </div>
                </ng-template>
            </div>        
        </div> 
    </div>
</div>
