<form [formGroup]="form">
    <h1>Создание нового заказа</h1>

    <div 
        [ngClass]="{invalid: form.get('order_name').touched && form.get('order_name').invalid}"
        class="form-control"
    >
        <label>Введите имя клиента: <span class="red">*</span></label>
        <input id="order_name" type="text" formControlName="order_name">         
        <div 
          *ngIf="form.get('order_name').invalid && form.get('order_name').touched" 
          class="validation"
        >
            <small *ngIf="form.get('order_name').errors?.required">
              Введите поле Имя клиента
            </small>
            <small *ngIf="form.get('order_name').errors?.userNamePattern">
                Использованы некорректные символы
            </small>
            <small *ngIf="form.get('order_name').errors?.minlength">
                Должно быть от 2 до 30 символов
            </small>
            <small *ngIf="form.get('order_name').errors?.maxlength">
                Должно быть не более 30 символов
            </small>
        </div>
    </div>

    <div 
      [ngClass]="{invalid: form.get('order_phone').touched && form.get('order_phone').invalid}"
      class="form-control"
    >   
        <label>Введите телефон клиента: <span class="red">*</span></label>
        <input id="order_phone" type="text" formControlName="order_phone"          
        > 
        <div 
            *ngIf="form.get('order_phone').invalid && form.get('order_phone').touched"
            class="validation"
        >
            <small *ngIf="form.get('order_phone').errors.required">
                Введите поле Телефон клиента
            </small>
            <small *ngIf="form.get('order_phone').errors.userPhonePattern">
                Использованы некорректные символы
            </small>
            <small *ngIf="form.get('order_phone').errors.minlength">
                Должно быть от 6 до 20 символов
            </small>
            <small *ngIf="form.get('order_phone').errors.maxlength">
                Должно быть не более 20 символов
            </small> 
        </div>
    </div>

    <div 
      [ngClass]="{invalid: form.get('order_email').touched && form.get('order_email').invalid}"
      class="form-control"
    >  
        <label for="order_email">Введите email клиента:</label>
        <input 
          id="order_email" 
          type="text" 
          formControlName="order_email">
        <div 
            *ngIf="form.get('order_email').touched && form.get('order_email').invalid"
            class="validation"
        >
            <small *ngIf="form.get('order_email').errors.email">
                Недопустимый формат поля Email
            </small>            
        </div>        
    </div>

    <div 
      [ngClass]="{invalid: form.get('order_promo').touched && form.get('order_promo').invalid}"
      class="form-control"
    >
        <label for="order_promo">Введите промокод клиента:</label>
        <input 
          id="order_promo" 
          type="text" 
          formControlName="order_promo"
        >  
        <div 
          *ngIf="form.get('order_promo').invalid && form.get('order_promo').touched"
          class="validation"
        >
            <small *ngIf="form.get('order_promo').errors?.userPromoPattern">
                Использованы некорректные символы
            </small>
            <small *ngIf="form.get('order_promo').errors?.minlength">
                Должно быть от 3 до 30 символов
            </small>
            <small *ngIf="form.get('order_phone').errors?.maxlength">
                Должно быть не более 30 символов
            </small>
        </div>    
    </div>

    <div class="form-control">
        <label>Текст заказа</label>
    </div>

    <div *ngIf="form.invalid">
        form.invalid !!!
    </div>
    
    <button
        type="submit"
        class="btn btn-block btn-dark"
        [disabled]="form.invalid"
    >Создать заказ</button>    
<!--

order_form_type	(6 - добавлена вручную)
order_typeofact	
order_name
order_phone
order_email
order_promo
order_text
order_author


-->
</form>
<p>&nbsp;</p>

