<div class="modal-window" [style.display]="modal_switcher ? 'block' : 'none'">
    <div class="modal-window__wrapper" [style.display]="modal_switcher ? 'block' : 'none'">
        <div *ngIf="!switcher" class="modal-window__body">
            <div class="modal-window__header">
                Заказать обратный звонок
                <div class="modal-window__btn-close" (click)="closeForm()"></div>
            </div>
            <div class="modal-window__container">
                <form [formGroup]="callorderForm" novalidate>
                    <div class="gr">
                        <label>Введите ваше имя:<span class="req">*</span></label>
                        <input name="name" type="text" formControlName="userName" [ngClass]="{gr_error: switcher_valid && callorderForm.controls['userName'].invalid}" />  
                    </div>
                    <div *ngIf="switcher_valid">
                        <div *ngIf="callorderForm.controls['userName'].invalid && callorderForm.controls['userName'].touched" class="error-form-text">
                            Поле Имя заполнено неверно:
                            <div *ngIf="callorderForm.controls['userName'].errors?.userNamePattern">
                                - Использованы некорректные символы
                            </div>
                            <div *ngIf="callorderForm.controls['userName'].errors?.minlength">
                                - Должно быть от 2 до 30 символов
                            </div>
                            <div *ngIf="callorderForm.controls['userName'].errors?.maxlength">
                                - Должно быть не более 30 символов
                            </div>
                        </div>
                        <div *ngIf="callorderForm.controls['userName'].untouched && callorderForm.controls['userName'].invalid" class="error-form-text">
                            Поле Имя не заполнено
                        </div>
                    </div>

                    <div class="gr">
                        <label>Введите телефон:<span class="req">*</span></label>
                        <input name="phone" type="text" formControlName="userPhone" [ngClass]="{gr_error: switcher_valid && callorderForm.controls['userPhone'].invalid}" /> 
                    </div>
                    <div *ngIf="switcher_valid">
                        <div *ngIf="callorderForm.controls['userPhone'].invalid && callorderForm.controls['userPhone'].touched" class="error-form-text">
                          Поле Телефон заполнено неверно:
                          <div *ngIf="callorderForm.controls['userPhone'].errors?.userPhonePattern">
                              - Использованы некорректные символы
                          </div>
                          <div *ngIf="callorderForm.controls['userPhone'].errors?.minlength">
                              - Должно быть от 6 до 20 символов
                          </div>
                          <div *ngIf="callorderForm.controls['userPhone'].errors?.maxlength">
                              - Должно быть не более 20 символов
                          </div>          
                        </div>
                        <div *ngIf="callorderForm.controls['userPhone'].untouched" class="error-form-text">
                            Поле Телефон не заполнено
                        </div>
                    </div>
                  
                    <div class="req-info">
                        Поля отмеченные знаком * обязательны для заполнения
                    </div>
                    
                    <div class="btn-wrapper">					
                        <input type="submit" class="btn-custom btn-send submit" (click)="submitCallOrder()" value="Заказать обратный звонок">
                    </div>

                </form>

                <div class="policy_form">
                    Нажимая на кнопку "Заказать обратный звонок" вы даете согласие на обработку персональных данных в
                    соответствии с нашей <a href="/policy" target="_blank">политикой конфиденциальности</a>.
                </div>  
              
            </div>
        </div>  

        <div *ngIf="switcher" class="modal-form">

            <div *ngIf="!loading; else loadingBlock">

              <div class="modal-form-header">
                  Заказать обратный звонок
                  <div class="close" (click)="closeForm()"></div>
              </div>
              
              <div *ngIf="switcher && !formValidError && !errServ && !receivedFormCallOrder.status" class="modal-form-body">
                  <br><br>
                  <div id="success"><b>Заказ успешно отправлен!</b></div>
                  <br>
                  <label>Ответ сервера:</label>
                  <ul>
                      <li>{{receivedFormCallOrder?.name}}</li>
                      <li>{{receivedFormCallOrder?.phone}}</li>
                      <li>Тип формы: {{receivedFormCallOrder?.typeofform}}</li>
                      <li>Статус ошибки при отправке заказа: {{receivedFormCallOrder?.status}}</li>
                  </ul>
                  <br><br>
                  <div class="btn-wrapper">					
                      <input type="submit" class="btn-custom btn-send" value="Закрыть окно" (click)="closeForm()">
                  </div>
              </div>

              <div *ngIf="switcher && errServ" class="modal-form-body center">    
                  <br><br>
                  Ошибка отправки данных. Повторите заказ позднее.
                  <br><br>
                  <div class="btn-wrapper">					
                      <input type="submit" class="btn-custom btn-send" value="Закрыть окно" (click)="closeForm()">
                  </div>           
              </div>

              <div *ngIf="switcher && receivedFormCallOrder?.status" class="modal-form-body center">    
                  <br><br>
                  Ошибка записи в БД. Повторите заказ позднее.
                  <br><br>
                  <div class="btn-wrapper">					
                      <input type="submit" class="btn-custom btn-send" value="Закрыть окно" (click)="closeForm()">
                  </div>         
              </div> 

            </div>

            <ng-template #loadingBlock>
                <div class="modal-form-body center">
                    <p>Отправка...</p>
                    <img src="../../assets/img/formloader200.svg">
                </div>
            </ng-template>
          
        </div>
    </div>          
</div>
      