<div class="modal-window" [style.display]="isModalSwitcher ? 'block' : 'none'">
    <div class="modal-window__wrapper" [style.display]="isModalSwitcher ? 'block' : 'none'">
        <div *ngIf="!switcher" class="modal-window__body">
            <div class="modal-window__header">
                Заказать обратный звонок
                <div class="modal-window__btn-close" (click)="closeForm()"></div>
            </div>
            <div class="modal-window__container">
                <form [formGroup]="callorderForm" novalidate>
                    <div class="forms__row">
                        <label class="forms__label">Введите ваше имя:<span class="forms__req">*</span></label>
                        <input class="forms__input" name="name" type="text" formControlName="userName" [ngClass]="{'forms__row--error': isValidSwitcher && callorderForm.controls['userName'].invalid}" />  
                    </div>
                    <div *ngIf="isValidSwitcher">
                        <div *ngIf="callorderForm.controls['userName'].invalid && callorderForm.controls['userName'].touched" class="forms__errors-text">
                            Поле Имя заполнено неверно:
                            <div *ngIf="callorderForm.controls['userName'].errors?.userNamePattern">
                                - Использованы некорректные символы
                            </div>
                            <div *ngIf="callorderForm.controls['userName'].errors?.minlength">
                                - Должно быть от 2 до 30 символов
                            </div>
                            <div *ngIf="callorderForm.controls['userName'].errors?.maxlength">
                                - Должно быть не более 30 символов
                            </div>
                        </div>
                        <div *ngIf="callorderForm.controls['userName'].untouched && callorderForm.controls['userName'].invalid" class="forms__errors-text">
                            Поле Имя не заполнено
                        </div>
                    </div>

                    <div class="forms__row">
                        <label class="forms__label">Введите телефон:<span class="forms__req">*</span></label>
                        <input class="forms__input" name="phone" type="text" formControlName="userPhone" [ngClass]="{'forms__row--error': isValidSwitcher && callorderForm.controls['userPhone'].invalid}" /> 
                    </div>
                    <div *ngIf="isValidSwitcher">
                        <div *ngIf="callorderForm.controls['userPhone'].invalid && callorderForm.controls['userPhone'].touched" class="forms__errors-text">
                            Поле Телефон заполнено неверно:
                            <div *ngIf="callorderForm.controls['userPhone'].errors?.userPhonePattern">
                                - Использованы некорректные символы
                            </div>
                            <div *ngIf="callorderForm.controls['userPhone'].errors?.minlength">
                                - Должно быть от 6 до 20 символов
                            </div>
                            <div *ngIf="callorderForm.controls['userPhone'].errors?.maxlength">
                                - Должно быть не более 20 символов
                            </div>          
                        </div>
                        <div *ngIf="callorderForm.controls['userPhone'].untouched" class="forms__errors-text">
                            Поле Телефон не заполнено
                        </div>
                    </div>
                  
                    <div class="forms__req-info">
                        Поля отмеченные знаком * обязательны для заполнения
                    </div>
                    
                    <div class="btn-order">
                        <input class="btn-order__btn" type="submit" (click)="submitCallOrder()" value="Заказать обратный звонок" />
                    </div>                     

                </form>

                <div class="forms__policy_form">
                    Нажимая на кнопку "Заказать обратный звонок" вы даете согласие на обработку персональных данных в
                    соответствии с нашей <a href="/policy" target="_blank">политикой конфиденциальности</a>.
                </div>  
              
            </div>
        </div>  

        <div *ngIf="switcher" class="modal-window__body">

            <div *ngIf="!loading; else loadingBlock">

                <div class="modal-window__header">
                    Заказать обратный звонок
                    <div class="modal-window__btn-close" (click)="closeForm()"></div>
                </div>
              
                <div *ngIf="switcher && !formValidError && !errServ && !receivedFormCallOrder.status" class="modal-window__container">
                    <div class="modal-window__title">Заказ успешно отправлен!</div>
                    <div class="modal-window__text-left">
                        <label>Ответ сервера:</label>
                        <ul class="modal-window__list">
                            <li>{{receivedFormCallOrder?.name}}</li>
                            <li>{{receivedFormCallOrder?.phone}}</li>
                            <li>Тип формы: {{receivedFormCallOrder?.typeOfForm}}</li>
                            <li>Статус ошибки при отправке заказа: {{receivedFormCallOrder?.status}}</li>
                        </ul>
                        <div class="btn-order">
                            <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                        </div>                        
                    </div>
                </div>

                <div *ngIf="switcher && errServ" class="modal-window__container">    
                    <div class="modal-window__text-center">
                        Ошибка отправки данных. Повторите заказ позднее.
                    </div>
                    <div class="btn-order">
                        <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                    </div>          
                </div>

                <div *ngIf="switcher && receivedFormCallOrder?.status" class="modal-window__container">    
                    <div class="modal-window__text-center">         
                        Ошибка записи в БД. Повторите заказ позднее.
                    </div>
                    <div class="btn-wrapper">					
                        <input type="submit" type="submit" class="btn-custom btn-send" value="Закрыть окно" (click)="closeForm()">
                    </div>         
                </div> 

            </div>

            <ng-template #loadingBlock>
                <div class="modal-loading">
                    <p class="modal-loading__text">Отправка...</p>
                    <img src="../../assets/img/formloader200.svg">
                </div>
            </ng-template>
          
        </div>
    </div>          
</div>
      