<!-- Footer -->  
<div class="container footer">
   <div class="container nopadding">
      <div class="row">
         <div class="col-sm-5 info">
            <div class="col-sm-5 nopadding logo">
               <a [routerLink]="['/']" title="База рафтинга в Лосево «Кивиниеми»">
                  <img [defaultImage]="defaultImage" [lazyLoad]="lazyLoad0" alt="База рафтинга в Лосево «Кивиниеми»">
               </a>
            </div>
            <div class="col-sm-7 nopadding phones">
               <span class="ph"><a href="tel:88129223319">8 (812) 922-33-19</a></span><br>
               <span class="ph"><a href="tel:88002341345">8 (800) 234-13-45</a></span>
            </div>
            <div class="clearfix"></div>
            <div class="work-time">
               Время приема звонков: 10:00-19:00, <span class="notbold">ежедневно</span>
            </div>
            <div class="askquestions">
               <a class="btn-modal ask-question ft_forms" (click)="openFormClick({typeofform:5})"><span class="icon"></span>Задать вопрос</a>
               <a class="btn-modal order-call ft_forms" (click)="openFormClick({typeofform:4})"><span class="icon"></span>Заказать звонок</a>
            </div>
            <div class="content">
               <p><b>e-mail:</b> <a href="mailto:info@kiviniemi.ru">info@kiviniemi.ru</a></p>      
               <p><b>База рафтинга в Лосево:</b> время работы с 10:00 до 19:00, ежедневно. </p>
               <p><b>Администратор в Лосево:</b> <span class="text-nowrap"><a href="tel:+79110023303">+7(911) 002-33-03</a></span></p>
               <p><b>Адрес:</b> Ленинградская область, Приозерский район, поселок при ж/д станции Лосево, Гостиничная улица д.28 </p>      	 
               <br>
               <p><b>Представительство базы в Санкт-Петербурге:</b> время работы с 10:00 до 19:00, понедельник-пятница. </p>
               <p><b>Адрес:</b> Санкт-Петербург, Дегтярная ул, д. 4</p>
               <p><b>Администратор в Санкт-Петербурге:</b> <span class="text-nowrap"><a href="tel:88129223319">8(812) 922-33-19</a></span></p>
               <br><br>
               <a href="/policy" class="policy_link_foot" target="_blank">Политика конфиденциальности</a>
            </div>

         </div>
         <div class="col-sm-3 links">                  
            <li><a href="/rafting">Рафтинг</a></li>
            <li><a href="/arenda-ploshadok-dlya-meropriyatiy">Аренда площадок</a></li>
            <li><a href="/provedenie-meropriyatiy">Проведение мероприятий</a></li>
            <li><a href="/arenda-baydarok-i-kayakov">Аренда байдарок</a></li>
            <li><a href="/turi-pohodi">Туры, походы</a></li>
            <li><a href="/drugie-aktivnosti">Другие активности</a></li>
            <li><a href="/zimniy-aktivniy-otdih">Зимний отдых</a></li>
            <li><a href="/podarochnie-sertifikati">Подарочные сертификаты</a></li>                
            <br />
            <li><a href="/">Главная</a></li>
            <li><a href="/otzivi">Отзывы</a></li>
            <li><a class="item-yellow" href="/skidki">Скидки</a></li>
            <li><a href="/novosti">Новости</a></li>
            <li><a href="/zimniy-aktivniy-otdih">Зимний отдых</a></li>
            <li><a href="/kontakti">Контакты</a></li>
         </div>
         <div class="col-sm-4 form">

            <app-footer-form></app-footer-form>

            <div class="policy_footer">
               Нажимая на кнопку "Заказать" вы даете согласие на обработку персональных данных в соответствии с нашей <a href="/policy" target="_blank">политикой конфиденциальности</a>.
            </div>  

            <script-hack src="//vk.com/js/api/openapi.js?146" type="text/javascript"></script-hack>
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script-hack>
               function VK_Widget_Init(){{' {' }}
                     var getWidth = document.getElementById("vk_groups").parentElement.clientWidth-30;
                     document.getElementById('vk_groups').innerHTML = '<div id="vk_groups"></div>';
                     VK.Widgets.Group("vk_groups", {{' {' }} mode: 3, no_cover: 1, width: getWidth {{' }' }}, 322929);
                     {{' }' }};
               window.addEventListener('load', VK_Widget_Init, false);
               window.addEventListener('resize', VK_Widget_Init, false);
            </script-hack>

         </div>
      </div>
   </div>
</div>

<div class="container footer2">
   <div class="container nopadding">
      <div class="row copyright">
         © База рафтинга и активного отдыха "Кивиниеми", 2006 - 2020, п.Лосево, Ленинградская область
      </div>
   </div>
</div>	
<!-- / Footer --> 
