/* 4icons */

.four-icons {
    height: auto;
    max-width: none;
    padding: 20px 0;
    overflow: hidden; 
    background-color: #0095de;
    width: 100%; 
  }
  
  .four-icons__body {
    text-align: center;
  }
  
  @media (min-width: 300px) {
    .four-icons__body {
      padding: 15px 0;
    }
  }
  
  @media (min-width: 600px) {
    .four-icons__body {
      padding: 0 -20px;
    }
  }
  
  .four-icons__item {
    background: #1aa0e1;
    border-radius: 1000px;
    font-size: 1.3rem;
    color: #fff;
    position: relative;
    padding-bottom: 100%;
  }
  
  @media (min-width: 300px) {
    .four-icons__item {
      display: inline-block;
      width: 48%;
      padding-bottom: 48%;
      font-size: 0.6rem;
      vertical-align: top;
      margin-top: 2%;
    }
  }
  
  @media (min-width: 350px) {
    .four-icons__item {
      font-size: 0.7rem;
    }
  }
  
  @media (min-width: 400px) {
    .four-icons__item {
      font-size: 0.8rem;
    }
  }
  
  @media (min-width: 500px) {
    .four-icons__item {
      width: 45%;
      margin-left: 2%;
      margin-right: 2%;
      padding-bottom: 45%;
      font-size: 1.1rem;
    }
  }
  
  @media (min-width: 768px) {
    .four-icons__item {
      padding-bottom: 22.5%;
      width: 22.5%;
      margin-left: .7%;
      margin-right: .7%;
      font-size: 0.8rem;
      margin-top: 0;
    }
  }
  
  @media (min-width: 850px) {
    .four-icons__item {
      font-size: 0.9rem;
    }
  }
  
  @media (min-width: 992px) {
    .four-icons__item {
      font-size: 1rem;
    }
  }
  
  .four-icons__item-inner {
    position: absolute;
    top: 22.5%;
    right: 15%;
    bottom: 15%;
    left: 15%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  
  @media (min-width: 300px) {
    .four-icons__item-inner {
      top: 10%;
      right: 10%;
      bottom: 12%;
      left: 10%;
    }
  }
  
  @media (min-width: 600px) {
    .four-icons__item-inner {
      left: 13%;
      right: 13%; 
    }
  }
  
  @media (min-width: 768px) {
    .four-icons__item-inner {
      bottom: 7%;
    }
  }
  
  @media (min-width: 850px) {
    .four-icons__item-inner {
      top: 12%;
      bottom: 12%;
    }
  }
  
  .four-icons__icon-wrap {
    width: 100%;
    padding: 0 25%;
  }
  
  .four-icons__icon-wrap img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: inherit;
  }
  
  .four-icons__text {
    height: 3.5em;
    line-height: 1.2em;
    width: 100%;
  }
  
  /* / 4icons */
  