<div class="four-icons">
    <div class="container">            
        <div class="four-icons__body">
            <div class="four-icons__item">
                <div class="four-icons__item-inner">
                    <div class="four-icons__icon-wrap">                       
                        <img [defaultImage]="defaultImage" [lazyLoad]="lazyLoad1" alt="Кивиниеми. Сертифицированные гиды">                       
                    </div>
                    <span class="four-icons__text">Сертифицированные гиды</span>
                </div>
            </div>			
            <div class="four-icons__item">
                <div class="four-icons__item-inner">
                    <div class="four-icons__icon-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="lazyLoad2" alt="Кивиниеми. Работаем по международным стандартам">
                    </div>
                    <span class="four-icons__text">Работаем по международным стандартам</span>
                </div>
            </div>			 
            <div class="four-icons__item">
                <div class="four-icons__item-inner">
                    <div class="four-icons__icon-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="lazyLoad3" alt="Кивиниеми. Гарантия качества">
                    </div>
                    <span class="four-icons__text">Гарантия<br>качества</span>
                </div>
            </div>			 
            <div class="four-icons__item">
                <div class="four-icons__item-inner">
                    <div class="four-icons__icon-wrap">
                        <img [defaultImage]="defaultImage" [lazyLoad]="lazyLoad4" alt="Кивиниеми. 12 лет успешной работы">
                    </div>
                    <span class="four-icons__text">12 лет<br>успешной работы</span>
                </div>
            </div>
           </div>           
    </div>
</div>