<div class="page-bg" [defaultImage]="defaultImage" [lazyLoad]="lazyLoad1">
    <div class="container">
        <div class="page-bg__discount"><span>От <span>390</span> р./чел.</span></div>
    </div>
</div>

<div class="container content-block">
    <div class="service-page">        
        <h1>Семейный рафтинг</h1>
        <div class="service-page__text">
            <p>Семейный рафтинг — это определенный подход к спуску по порогу на который мы допускаем возможность брать детей от 7 лет. Дети сплавляются по порогу в сопровождении родителей. Этот спуск возможность показать водную стихию, но обойти сложные участки бурной воды Вуоксы и Лосевского порога. Участников ждут брызги, хорошее настроение и настоящий водный аттракцион.</p>
            <p>Данная программа позволяет нам работать и с детскими организациями. За лето по порогу с нами сплавляются около тысячи воспитанников окрестных лагерей и школ.</p>
        </div>
        
        <p>&nbsp;</p>
        <!-- Кнопка Заказать рафтинг -->
        <div class="btn-order">            
            <input class="btn-order__btn btn-order--slim" (click)="openFormClick({typeofform:2, typeofact:'Семейный рафтинг'})" value="Заказать сейчас" />
        </div>
        <p>&nbsp;</p>

    </div><!--/content-page-->
</div><!--/container-main-->

<app-first-form></app-first-form>

<app-four-icons-block></app-four-icons-block>
<app-video-block></app-video-block>
<app-guides-block></app-guides-block>
<app-subscribe-block></app-subscribe-block>
