<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Вход в панель управления</h2>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
        {{ error }}
    </div>

    <div class="alert alert-info" *ngIf="message">
        {{ message }}
    </div>

    <div 
        [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
        class="form-control"
    >
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div 
            *ngIf="form.get('email').touched && form.get('email').invalid"
            class="validation"
        >
            <small *ngIf="form.get('email').errors.required">
                Введите поле Email 
            </small>
            <small *ngIf="form.get('email').errors.email">
                Недопустимый формат поля email
            </small>            
        </div>
    </div>

    <div 
        [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
        class="form-control"
    >
        <label for="password">Пароль:</label>
        <input id="password" type="password" formControlName="password">
        <div 
            *ngIf="form.get('password').touched && form.get('password').invalid"
            class="validation"
        >
        <small *ngIf="form.get('password').errors.required">
            Введите пароль 
        </small>
        <small *ngIf="form.get('password').errors.minlength">
            Должно быть не менее 
            {{form.get('password').errors.minlength.requiredLength}}
            символов, сейчас введено только
            {{form.get('password').errors.minlength.actualLength}}            
        </small>             

        </div>
    </div>

    <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="form.invalid || submitted"
    >Войти</button>
   
</form>
