<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Вход в панель управления</h2>

    <div 
        [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
        class="form-control"
    >
        <label for="email">Email:</label>
        <input id="email" type="email">
        <div 
            *ngIf="form.get('email').touched && form.get('email').invalid"
            class="validation"
        >
            <small *ngIf="form.get('email').errors.required">
                Введите поле email 
            </small>
            <small *ngIf="form.get('email').errors.email">
                Недопустимый формат поля email
            </small>            
        </div>
    </div>

    <div 
        [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
        class="form-control"
    >
        <label for="password">Пароль:</label>
        <input id="password" type="password">
        <div 
            *ngIf="form.get('password').touched && form.get('password').invalid"
            class="validation"
        >
            <small>Ошибка</small>
        </div>
    </div>

    <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="form.invalid"
    >Войти</button>
    
</form>
