<div class="modal-window" [style.display]="isModalSwitcher ? 'block' : 'none'">
    <div class="modal-window__wrapper" [style.display]="isModalSwitcher ? 'block' : 'none'">
        <div *ngIf="!isSuccesAnswer" class="modal-window__body">
          
            <div class="modal-window__header">
                Заказ услуги <span class="modal-window__nowrap">{{typeOfAct}}</span>
                <div class="modal-window__btn-close" (click)="closeForm()"></div>
            </div>

            <div class="modal-window__container">
                <form [formGroup]="firstForm" novalidate>
                    <div class="forms__row">
                        <label class="forms__label">Введите ваше имя:<span class="forms__req">*</span></label>
                        <input class="forms__input" name="name" type="text" formControlName="userName" [ngClass]="{'forms__row--error': isValidSwitcher && firstForm.controls['userName'].invalid}" />  
                    </div>
                    <div *ngIf="isValidSwitcher">
                        <div *ngIf="firstForm.controls['userName'].invalid && firstForm.controls['userName'].touched" class="forms__errors-text">
                            Поле Имя заполнено неверно:
                            <div *ngIf="firstForm.controls['userName'].errors?.userNamePattern">
                                - Использованы некорректные символы
                            </div>
                            <div *ngIf="firstForm.controls['userName'].errors?.minlength">
                                - Должно быть от 2 до 30 символов
                            </div>
                            <div *ngIf="firstForm.controls['userName'].errors?.maxlength">
                                - Должно быть не более 30 символов
                            </div>
                        </div>
                        <div *ngIf="firstForm.controls['userName'].untouched && firstForm.controls['userName'].invalid" class="forms__errors-text">
                            Поле Имя не заполнено
                        </div>
                    </div>

                    <div class="forms__row">
                        <label class="forms__label">Введите телефон:<span class="forms__req">*</span></label>
                        <input class="forms__input" name="phone" type="text" formControlName="userPhone" [ngClass]="{'forms__row--error': isValidSwitcher && firstForm.controls['userPhone'].invalid}" /> 
                    </div>
                    <div *ngIf="isValidSwitcher">
                        <div *ngIf="firstForm.controls['userPhone'].invalid && firstForm.controls['userPhone'].touched" class="forms__errors-text">
                            Поле Телефон заполнено неверно:
                            <div *ngIf="firstForm.controls['userPhone'].errors?.userPhonePattern">
                                - Использованы некорректные символы
                            </div>
                            <div *ngIf="firstForm.controls['userPhone'].errors?.minlength">
                                - Должно быть от 6 до 20 символов
                            </div>
                            <div *ngIf="firstForm.controls['userPhone'].errors?.maxlength">
                                - Должно быть не более 20 символов
                            </div>          
                        </div>
                        <div *ngIf="firstForm.controls['userPhone'].untouched" class="forms__errors-text">
                            Поле Телефон не заполнено
                        </div>
                    </div>
                
                    <div class="forms__row">
                        <label class="forms__label">Введите e-mail:</label>
                        <input class="forms__input" name="email" type="email" formControlName="userEmail" [ngClass]="{'forms__row--error': isValidSwitcher && firstForm.controls['userEmail'].invalid}" />  
                    </div>
                    <div *ngIf="isValidSwitcher">
                        <div *ngIf="firstForm.controls['userEmail'].invalid && firstForm.controls['userEmail'].touched" class="forms__errors-text">
                            Поле Email заполнено неверно
                        </div>
                    </div> 

                    <div class="forms__row">
                        <label class="forms__label">Введите промокод (если он есть):</label>
                        <input class="forms__input" name="promo" type="text" formControlName="userPromo" [ngClass]="{'forms__row--error': isValidSwitcher && firstForm.controls['userPromo'].invalid}" />  
                    </div>
                    <div *ngIf="isValidSwitcher">
                        <div *ngIf="firstForm.controls['userPromo'].invalid && firstForm.controls['userPromo'].touched" class="forms__errors-text">
                            Поле Промокод заполнено неверно:
                            <div *ngIf="firstForm.controls['userPromo'].errors?.userPromoPattern">
                                - Использованы некорректные символы
                            </div>
                            <div *ngIf="firstForm.controls['userPromo'].errors?.minlength">
                                - Должно быть от 3 до 30 символов
                            </div>
                            <div *ngIf="firstForm.controls['userPromo'].errors?.maxlength">
                                - Должно быть не более 30 символов
                            </div>
                        </div>  
                    </div>	
                      
                    <div class="forms__req-info">
                        Поля отмеченные знаком * обязательны для заполнения
                    </div>

                    <div class="btn-order">
                        <input class="btn-order__btn" type="submit" (click)="submitFirst()" value="Заказать сейчас" />
                    </div>                     

                </form>

                <div class="forms__policy_form">
                    Нажимая на кнопку "Заказать сейчас" вы даете согласие на обработку персональных данных в
                    соответствии с нашей <a href="/policy" target="_blank">политикой конфиденциальности</a>.
                </div>          

            </div>

        </div>
          
        <div *ngIf="isSuccesAnswer" class="modal-window__body">

            <div *ngIf="!isFormLoading; else loadingBlock">

                <div class="modal-window__header">
                    Заказ услуги <span class="modal-window__nowrap">{{typeOfAct}}</span>
                    <div class="modal-window__btn-close" (click)="closeForm()"></div>
                </div>

                <div *ngIf="isSuccesAnswer && !isFormValidError && !isErrServ && !receivedFormFirst.status" class="modal-window__container">
                    <div class="modal-window__title">Заказ успешно отправлен!</div>
                    <div class="modal-window__text-left">
                        <label>Ответ сервера:</label>
                        <ul class="modal-window__list">
                            <li>{{receivedFormFirst.name}}</li>
                            <li>{{receivedFormFirst.phone}}</li>
                            <li>{{receivedFormFirst.email}}</li>
                            <li>{{receivedFormFirst.typeOfAct}}</li>
                            <li>{{receivedFormFirst.promo}}</li>
                            <li>Тип формы: {{receivedFormFirst.typeOfForm}}</li>
                            <li>Статус ошибки при отправке заказа: {{receivedFormFirst.status}}</li>
                        </ul>
                        <div class="btn-order">
                            <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                        </div> 
                    </div>
                </div>

                <div *ngIf="isSuccesAnswer && isErrServ" class="modal-window__container">                  
                    <div class="modal-window__text-center">
                        Ошибка отправки данных. Повторите заказ позднее.
                    </div>
                    <div class="btn-order">
                        <input type="submit" class="btn-order__btn btn-order__btn--slim" value="Закрыть окно" (click)="closeForm()" />
                    </div>           
                </div>

                <div *ngIf="isSuccesAnswer && receivedFormFirst?.status" class="modal-window__container">    
                    <div class="modal-window__text-center">         
                        Ошибка записи в БД. Повторите заказ позднее.
                    </div>
                    <div class="btn-wrapper">					
                        <input type="submit" type="submit" class="btn-custom btn-send" value="Закрыть окно" (click)="closeForm()">
                    </div>        
                </div>

            </div>

            <ng-template #loadingBlock>
                <div class="modal-loading">
                    <p class="modal-loading__text">Отправка...</p>
                    <img src="../../assets/img/formloader200.svg">
                </div>
            </ng-template>

        </div>
    </div>  
</div>  
