    <div class="container guides">
        <div class="container nopadding">
           <div class="row">
              <div class="about">Хороший, безопасный, захватывающий дух рафтинг - это не только рафты, пороги, весла и спасжилеты. Хорошим рафтинг делают люди, которые его проводят. Встречайте.</div>
              <h2 class="title">Наши гиды по рафтингу:</h2>
              
              <div class="carousel-wrapper carousel-wrapper2">             
              
              <div class="all-guides owl-carousel" id="slider2">
                 <div class="item">
                    <img src="../../assets/img/semak.jpg?test" alt="Семак Сергей, основатель базы рафтинга Кивиниеми">
                    <div class="name">Семак Сергей</div>
                    <div class="about-guide">Руководитель, основатель базы рафтинга "Кивиниеми". Cертифицированный гид Федерации Рафтинга России, сертифицированный гид-лидер и сейфети-каякер (класс III) Internacional Rafting Federation. Участник чемпионата России по рафтингу. Инструктор детско-юношеского туризма.</div>
                    <div class="vk-link"><a href="https://vk.com/id1825332" target="_blank">vk.com/id1825332</a></div>
                 </div>
                 <div class="item">
                    <img src="../../assets/img/gribanov.jpg?test" alt="Грибанов Константин, основатель базы рафтинга Кивиниеми">
                    <div class="name">Грибанов Константин</div>
                    <div class="about-guide">Руководитель, основатель базы рафтинга "Кивиниеми". Сертифицированный гид Федерации Рафтинга России, сертифицированный гид-лидер Internacional Rafting Federation. Участник чемпионата России по рафтингу. Мастер спорта по рафтингу и водному туризму.</div>
                    <div class="vk-link"><a href="https://vk.com/kosta_kivi" target="_blank">vk.com/kosta_kivi</a></div>
                 </div>
                 <div class="item">
                    <img src="../../assets/img/polianski.jpg?test" alt="Полянский Егор, гид-лидер, мастер спорта по рафтингу">
                    <div class="name">Полянский Егор</div>
                    <div class="about-guide">Управляющий базой рафтинга "Кивиниеми" и гид-лидер. Главный тренер сборной Санкт-Петербурга по рафтингу. Серебряный призер чемпионата России по рафтингу. Cертифицированный гид Федерации Рафтинга России, сертифицированный гид-лидер и сейфети-каякер Internacional Rafting Federation. Мастер спорта по рафтингу.</div>
                    <div class="vk-link"><a href="https://vk.com/gogeniys" target="_blank">vk.com/gogeniys</a></div>
                 </div>
                 <div class="item">
                    <img src="../../assets/img/gusev.jpg?test" alt="Гусев Константин, сертифицированный гид федерации рафтинга России">
                    <div class="name">Гусев Константин</div>
                    <div class="about-guide">Сертифицированный гид федерации рафтинга России. 10 лет опыта работы гидом по рафтингу. Участник чемпионата России по рафтингу.</div>
                    <div class="vk-link"><a href="https://vk.com/gusev_k" target="_blank">vk.com/gusev_k</a></div>
                 </div>
                 <div class="item">
                    <img src="../../assets/img/beliankina.jpg?test" alt="Белянкина Наталья, действующий член сборной России по рафтингу">
                    <div class="name">Белянкина Наталья</div>
                    <div class="about-guide">Инструктор по рафтингу с 2013 года. Действующий член сборной России по рафтингу. 3-кратный Чемпион Санкт-Петербурга по рафтингу. Призер и 2-кратный победитель Чемпионата России по рафтингу.</div>
                    <div class="vk-link"><a href="https://vk.com/natasha112358" target="_blank">vk.com/natasha112358</a></div>
                 </div>
                 <div class="item">
                    <img src="../../assets/img/kiseleff.jpg?test" alt="Киселев Георгий, серебряный призёр Чемпионата России по рафтингу">
                    <div class="name">Киселев Георгий</div>
                    <div class="about-guide">Инструктор по рафтингу с 2010 года. Инструктор каяк-школы. Серебряный призёр Чемпионата России по рафтингу. 
Мастер спорта по рафтингу. Участник и призёр российских и международных соревнований по каякингу.</div>
                    <div class="vk-link"><a href="https://vk.com/id1416025" target="_blank">vk.com/id1416025</a></div>
                 </div>
              </div>	
             </div>
           </div>
        </div>
     </div>
