<div class="container container-main">	  
        
    <div class="logo-mobile">
        <a [routerLink]="['/']"><img src="../../assets/img/logo.png" title="База рафтинга в Лосево «Кивиниеми»" alt="База рафтинга в Лосево «Кивиниеми»"></a>
    </div>
 
    <!-- Рафтинг -->
        <div class="row rafting rafting-section">
            <div class="page-title-wrapper">
                <h1 class="page-title">Рафтинг, сплав в Лосево</h1>
                <h2 class="page-title-second">Индивидуальные программы рафтинга</h2>
            </div>			
             
            <div class="raft-list">
                <div class="item">
                     <h3 class="item-title">Семейный рафтинг</h3>
                     <div class="primary-wrapper">
                         <a [routerLink]="['/semeyniy-rafting']" class="btn-more" title="Семейный рафтинг - катаем детей от 7-ми лет, аквапарк на природе!">
                             <span class="btn-more-active"></span>
                             <span class="btn-more-inner">Подробнее</span>
                         </a>
                         <div class="info-wrapper">						
                             <div class="prices-wrapper">								
                                 <div class="old-price"><span>600 руб./чел.</span></div>
                                 <div class="current-price">от 390 руб./чел.</div>								
                             </div>
                             <div class="btn-wrapper">
                                <input class="btn-modal btn-custom" (click)="openFormClick({typeofform:2, typeofact:'Семейный рафтинг'})" value="Заказать сейчас" />
                             </div>
                         </div>
                         <img class="raft-photo" [defaultImage]="defaultImage1" [lazyLoad]="lazyLoad1" alt="Семейный рафтинг - катаем детей от 7-ми лет, аквапарк на природе!">
                     </div>
                     <div class="item-add">Катаем детей от 7-ми лет, <br>аквапарк на природе</div>					
                </div>
                 
                <div class="item">
                     <h3 class="item-title">Классический рафтинг</h3>
                     <div class="primary-wrapper">
                         <a href="/klassicheskiy-rafting" class="btn-more" title="Классический рафтинг - сплав на рафтах для всех!">
                             <span class="btn-more-active"></span>
                             <span class="btn-more-inner">Подробнее</span>
                         </a>
                         <div class="info-wrapper">						
                             <div class="prices-wrapper">
                                 <div class="old-price"><span>600 руб./чел.</span></div>
                                 <div class="current-price">от 390 руб./чел.</div>								
                             </div>
                             <div class="btn-wrapper">
                                <input class="btn-modal btn-custom" (click)="openFormClick({typeofform:2, typeofact:'Классический рафтинг'})" value="Заказать сейчас" />                                
                             </div>
                         </div>
                         <img class="raft-photo" [defaultImage]="defaultImage2" [lazyLoad]="lazyLoad2" alt="Классический рафтинг - сплав на рафтах для всех!">
                     </div>
                     <div class="item-add">Сплав на рафтах для всех</div>					
                </div>
                 
                <div class="item">
                     <h3 class="item-title">Экстрим рафтинг</h3>
                     <div class="primary-wrapper">
                         <a href="/ekstremalniy-rafting" class="btn-more" title="Экстрим рафтинг - море позитива и адреналина!">
                             <span class="btn-more-active"></span>
                             <span class="btn-more-inner">Подробнее</span>
                         </a>
                         <div class="info-wrapper">						
                             <div class="prices-wrapper">
                               <div class="old-price"><span>860 руб./чел.</span></div>
                                 <div class="current-price">от 600 руб./чел.</div>								
                             </div>
                             <div class="btn-wrapper">                                
                                <input class="btn-modal btn-custom" (click)="openFormClick({typeofform:2, typeofact:'Экстрим рафтинг'})" value="Заказать сейчас" />
                             </div>
                         </div>
                         <img class="raft-photo" [defaultImage]="defaultImage3" [lazyLoad]="lazyLoad3" alt="Экстрим рафтинг - море позитива и адреналина!">
                     </div>
                     <div class="item-add">Море позитива и адреналина</div>					
                </div> 
            </div>           
    
       <p>&nbsp;</p> 
     
       </div><!--/content-page-->	
 
</div><!--/container-main-->

<app-four-icons-block></app-four-icons-block>
<div class="container">
    <div class="row video-and-photo">
        <app-video-block>Loading...</app-video-block>
    </div>
</div>
<app-guides-block></app-guides-block>
<app-subscribe-block></app-subscribe-block>
