<div class="container">
    <div *inView class="video">
        <div *ngIf="!isVideoLoading; else loadingBlock" class="video__wrapper">
            <iframe class="inner" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="100%" [src]="videourl|safe"></iframe>
        </div>
        <ng-template #loadingBlock>
            <div class="video__wrapper video__wrapper--center">
                <p>Загрузка видео...</p>
                <img src="../../assets/img/formloader200.svg">
            </div>
        </ng-template>
    </div>
</div>
