/* Guides */

.guides {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 100%;
    background-color: #d2e6f1;
    color: #3b3024;
    line-height: 1.5;
  }
  
  .guides__row {
    margin-left: -15px;
    margin-right: -15px;  
  }
  
  .guides__row h2 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 20px;
    font-size: 1.6rem;
  }
  
  @media (min-width: 320px) and (max-width: 481px) {
    .guides__row h2 {
      font-size: 1.5rem;
      margin: 10px 0px 0px;
    }
  }
  
  .guides__about {
    font-size: .9rem;
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px 10px 15px;
  }
  
  .guides__all {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .guides__cell {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    flex-direction: row !important;
    display: flex !important;
  }
  
  .guides__item {
    padding: 15px 15px 40px 15px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  
  
  .guides__image-left,
  .guides__image-right {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .guides__image-left {
    float: left;
  }
  
  .guides__image-right {
    float: right;
  }
  
  @media (min-width: 768px) {
    .guides__image-left,
    .guides__image-right {
      width: 25%;
    }
  }
  
  @media (min-width: 992px) {
    .guides__image-left,
    .guides__image-right {
      width: 16.666667%;
    }
  }
  
  .guides__image-left img,
  .guides__image-right img {
    width: 100%;
    height: auto;
    border-radius: 500px;
    vertical-align: middle;
    border-style: none;
  }
  
  .guides__text-left {
    text-align: left !important;
  }
  
  .guides__text-right {
    text-align: right !important;
  }
  
  .guides__name {
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 2.4rem;
  }
  
  .guides__about-guide {
    min-height: 0;
    font-size: 0.9rem;
  }
  
  .guides__vk-link {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0.7rem;
  }
  
  .guides__vk-link::before {
    margin-left: -26px;
    position: absolute;
    text-align: center;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADqUExURT1mkExxlVF4n1Z+pGOHql2DqEtymmOIqll9oEVtlDJdiV+Epr3P2er292SIqniZteTx8IunwIWgtmeGpGuPsXCSs1iApz9nkUFqk1qBqP///1yDqVyFrV2Eqj9pklmApkZuljxolEFsmE52n0NtlE1zmzdjkFF4oS5bilZ+pbvI0/r5+ElxmDJfjOHj5JeuwilXh7S9xf/++V1/n+no6PP0856uu/fy6nmWscDN11h8nxpNgEhznwo9doOcsvHp4v/98tri5a7Azv727NXY2B1PhFyBo2GFp4iju26Kpqa0vbHAy6m7yMzT1mJGKJMAAAAXdFJOU/Lp8PLy8/Ly6fLw6lgD8s8NoZi7z9770DWBbQAAATFJREFUGNNti4dugzAURV/S0ISM7irgpoBtMGYHAtl7d/3/79ROVVVKeixfX533DK3mk1KpnripVMWpKI37O2iSaecMndzC87TzeoELiv5yiQIN/R+E9kzTE9d0KZWPKeMKap5OMSaefjjsqWkS0U1PaJfMR37C9qugSDBJfH9NXanxECE03q0R8idjUVfMLUONunyE0Gh2RCiZ+QgVDpF6SllP7PTEn6MsQ+5SoUOHdj9RUMRBEBcZSibUca6hZjkObsdZEeR5hvLgg2OpyyQMHT4ebOI4334N4qXPtPAaSpYg7Pa2g8WyP/E3iyyNbBVKtvQWN+bv6duu3U/TvqEJbdgSi3UjzkLGWRTZchtrvxinkKmC+qd/ZsIbACo32udoDB5mF1rjEbQe63BGvd78BuY4OxH0t+peAAAAAElFTkSuQmCC);
  }
  
  .guides__vk-link--left {
    left: 25px;
  }
  
  .guides__vk-link a {
    font-size: .9rem;
    color: #39739c;
    text-decoration: none;
  }
  
  .guides__vk-link a:hover,
  .guides__vk-link a:active {
    text-decoration: underline;
  }
  
  /* / Guides */
  