@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;  
}

a {
  color: #dc3545;
  cursor: pointer;
  text-decoration: none; 
}

a:hover {
  color: #666;
}

/* New !!! */

/* Forms */

.admin-form {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  max-width: 600px;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: .25rem;      
}

.admin-form__title {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.form {
  -webkit-box-pack: center!important;
  justify-content: center!important;
  margin-bottom: 3rem !important;
}

.form__title {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;      
}

.form__body {
  display: block;
  color: #888;
  margin-bottom: 0.8rem;
  padding: 0.7rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;    
}

.form-row {
  display: block;
  color: #888;
  /*margin-bottom: 0.8rem;*/
  padding: 0.7rem 0;
}

.form-row.invalid {
  color: #dc3545;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form-row.invalid input {
  border-color: #dc3545;
}    

.form-row__validation {
  color: #dc3545;
}

.form-row__label {
  padding-top:0.2rem;
}

.form-row__req {
  vertical-align: top;
  color: #e62101;
  font-size: 1.5rem;
  margin-left: 4px;
  position: relative;
  line-height: 1;
}

.form-row__quill {
  display: block;
  height: 40vh;
  margin-bottom: 2.7rem;  
}

/* / Forms */ 


/* Btn */

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

input[type='submit'],
.btn {
  font: inherit;
}

.btn:disabled {
  cursor: not-allowed;
  background: #f4f4f4;
  color: #111;
}

.btn:hover {
  opacity: 0.8;
}

.btn--primary {
  background: #dc3545;
  color: #fff;
}

.btn--light {
  background: #f4f4f4;
  color: #333;
}

.btn--dark {
  background: #333333;
  color: #fff;
}

.btn--danger {
  background: #dc3545;
  color: #fff;
}

.btn--success {
  background: #28a745;
  color: #fff;
}

.btn--white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn--link {
  background: none;
  padding: 0;
  margin: 10px;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn--short {
  width: 14vw;
}

/* / Btn */


/* Alerts */

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert--success {
  background-color: #4bf109;
  border-color: #d0e9c6;
  color: #fff;
}

.alert--warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert--danger {
  background: #dc3545;
  border-color: #ebcccc;
  color: #fff;  
}

.alert--info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

/* / Alerts */

.text-center {
  text-align: center;
}
