@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;  
}

a {
  color: #dc3545;
  cursor: pointer;
  text-decoration: none; 
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

/*
img {
  width: 100%;
}
*/

.main-container {
  margin-top:-46px;
}

@media (min-width: 1200px) {
  .main-container {
    margin-top: -196px;
  }
} 


.container-admin {
  /*max-width: 1100px;*/
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-primary {
  color: #dc3545;
}

.text-dark {
  color: #333333;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.text-center {
  text-align: center;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}
/* &-header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* &-content */
.card-content {
  margin-bottom: .5rem;
}

.list {
  margin: 0.5rem 0;
}
.list  li {
  padding-bottom: 0.3rem;
}

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn:disabled {
  cursor: not-allowed;
  background: #f4f4f4;
  color: #111;
}


.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.btn-primary,
.bg-primary-admin,
.badge-primary,
.alert-primary {
  background: #dc3545;
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: #333333;
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: #dc3545;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: #28a745;
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.form-control {
  display: block;
  color: #888;
  margin-bottom: .8rem;
}

.form-control.invalid {
  color: #dc3545;
}

.form-control.invalid input {
  border-color: #dc3545;
}    

.form-control .validation {
  color: #dc3545;
}

.form-control label {
  padding-top:1rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: #f4f4f4;
}

.navbar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
}

.navbar-admin.main {
  justify-content: center;
  border-bottom: 1px solid #333333;
}

.navbar-admin ul {
  display: flex;
}

.navbar-admin li.active a {
  color: #333333;
  font-weight: bold;
  cursor: default;
}

.navbar-admin a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar-admin a:hover {
  color: #f4f4f4;
}

.red {
  color: red;
}
