*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding-top: 44px;
}

@media (min-width: 992px) {
  body {
    padding-top: 186px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 320px)and (max-width: 1000px) {
  .container {
    max-width: inherit !important;
  }
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.bold {
  font-weight: bold;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-order {
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.btn-order--slim {
  width: 240px !important;
}

.btn-order__btn {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  padding: .7em;
  background: linear-gradient(to bottom,#e32200,#ae1a00);
  background-clip: border-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  white-space: nowrap;
  min-height: 53px;
  border: 3px rgba(255,255,255,.5) solid;
  border-radius: 30px;
  box-shadow: inset 0 2px 3px rgba(255,255,255,.5),inset 0 -2px 3px rgba(0,0,0,.2);
  cursor: pointer;
}

.btn-order__btn::after {
  margin-left: 12px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAMAAAC+XgR6AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAqUExURQAAAP///////////////////////////////////////////////////4a7yi8AAAANdFJOUwClQSxXjuzzZ4F0zBwWf/wwAAAARElEQVQI113OSQ4AIAgEQfe9//9dPQyayKkCAcaV6VTgpQhZDDDEBEkcEMQMUfTUdVle85t222h25Vxu9q1/CV6qm3QDxB4CLdfw0IYAAAAASUVORK5CYII=);
}

.btn-order__btn::before {
  margin-right: 12px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAMAAAC+XgR6AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAtUExURQAAAP///////////////////////////////////////////////////////6FIq5sAAAAOdFJOUwClQSyO7POBXnRVzBxtcxwTDwAAAExJREFUCNdNzlkOwCAIRVGcau1w97/cVkADXycQ4IlY3c2RwFChKAZkxQmXIsNQFKiK5yDZWluQ3QrTudGd/5XXuS+L9PUtJAipZtIPzvYCT/qRYzQAAAAASUVORK5CYII=);
}

.btn-order__btn::after, 
.btn-order__btn::before {
  display: inline-block;
  content: "";
  position: relative;
  top: .15em;
  width: 9px;
  height: 18px;
  background-repeat: no-repeat;
}

.btn-order__btn:link,
.btn-order__btn:visited {
  color: #fff;
}

.btn-order__btn:hover,
.btn-order__btn:active,
.btn-order__btn:focus {
  color: #fff;
  text-decoration: none;
}

.btn-order__btn:hover {
  background: #c91e00;
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  border-color: #fff;
}

.btn-order__btn:active,
.btn-order__btn:focus {
  background: #c91e00;
  background: linear-gradient(to top, #e32200, #ae1a00);
  background-clip: padding-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.icon-question {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA5UExURQAAAP/UAP/UAP/UAP/UAP/UAP/UAP3SAP/UAP/UAP/UAAAAAKiMAIlwAL+eAOnBAN23AGFPADQqAO8BgkAAAAAKdFJOUwBFm7fPBkzxl9YrF0s2AAAAlElEQVQoz4WSWRbDIAhF0aggxAzd/2LbFKvQ0+F+4fMJiAIogRIyJgpgKZVf1DLUTGyh3OWFPYtuRH4nPnNrvDcRabsurhq95CEXN9TijwbN+U1k0yiA62XoBMn5ex5OgENdRc6jxwjT3WSdC+efOrr8k2T6sX4y/Z/SRhzGfZ2/zvk4yo95fp0/ZH8i5j/v++k/3AH68xCRlka4AwAAAABJRU5ErkJggg==');
}

.icon-tel {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABRUExURQAAAP/UAP/UAP/UAP/UAP/UAP/UAP/UAP/UAP/UABsbADAwAP/mZfLUAOHUAKmpACMjAGNjAE9PAP/zt//cLMzMAEREAP/gR3l5AI6OAP/ZHJ9RfWcAAAAKdFJOUwDQt/8C1vBImAbKy4jVAAAAvElEQVQoz3VSSxaEIAyDKQIWQT7q6P0vOjj86sKs+po2jUHG/hBKcwmSayUYgZqgYVK9O2ugWOba/sAT30LU6X0fG3/tUq/e2E7kG6KcdBjxHMdFH0djvCMLuvUxhiGkGYeqg4FY4kzWyuBB+pK16kRcCdHnrUdiVDZ9gOu+YNemP7I5sqVYxXTzf1syiIc31b8YEe+ZiHiV7yUL4II3wZV8GHukb3uer/m/vVdG2np3S/ThRVpualtS/R9+TOoKFI3nm+sAAAAASUVORK5CYII=');
}

.nopadding {
  padding: 0;
}

.app-root-loader {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}


/* Custom Styles */

/* Content-block */

.content-block {
  position:relative;
}

/* / Content-block */


/* Index */

.index__logo-mobile {
  text-align: center;
  padding-top: 10px;
  z-index: 1;
}

@media (min-width: 768px) {
  .index__logo-mobile {
    position: absolute;
    left: 27px;
    top: 7px;
    width: 106px;
  }
}

@media (min-width: 992px) {
  .index__logo-mobile {
    display: none;
  }
}

.index__logo-mobile img {
  vertical-align: middle;
  border-style: none;
}

@media (min-width: 768px) {
  .index__logo-mobile img {
    width: 100%;
  }
}

.index__row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0 !important;
  padding-top: 25px;
}

.index__row::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 320px) and (max-width: 481px) {
  .index__row {
    margin-top: 95px;
  }
}

@media (min-width: 768px) {
  .index__row {
    padding-top: 45px;
  }
}

@media (min-width: 992px) {
  .index__row {
    padding-top: 30px;
  }
}

.index__title-wrapper {
  position: relative;
  text-align: center;
  padding: 0 15px 50px;  
}

.index__title-wrapper::after {
  content: "";
  border: 20px transparent solid;
  border-top-color: #b2d1e1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.index__title-wrapper h1 {
  margin: 0 0 1.4em;
  font-size: 2.2rem;
  color: #515151; 
  font-weight: 500;
  line-height: 1.1; 
}

@media (min-width: 768px) {
  .index__title-wrapper {
    padding-bottom: 45px;
    padding-left: 145px;
    padding-right: 145px;
  }

  .index__title-wrapper::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .index__title-wrapper h1 {
    font-size: 2.4rem;
    margin-bottom: .7em;
  }
}

.index__title-wrapper h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
  font-weight: 500;
  line-height: 1.1;  
  color: #373a3c;
}

.index__list {
  padding-bottom: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .index__list {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (min-width: 992px) {
  .index__list {
    padding-left: 0;
    padding-right: 0;
  }
}

.round-block {
  text-align: center;
  margin: 40px auto 0 auto;
  max-width: 350px;
}

@media (min-width: 768px) {
  .round-block {
    display: inline-block;
    vertical-align: top;
    width: 37%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 992px) {
  .round-block {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (min-width: 1200px) {
  .round-block {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

.round-block h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 .5em;
  color: #515151;
  line-height: 1;
  min-height: 40px;
}

.round-block__body {
  position: relative;
  overflow: hidden;
  border-radius: 500px;
}

.round-block__btn-more {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -85%;
  left: 0;
  background: #0095de;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: end;
  align-items: flex-end;
  color: #fff;
  font-size: 1.1rem;
  padding: 4%;
  border-radius: 1000%;
  overflow: hidden;
  text-decoration: none;
}

.round-block__btn-more:link,
.round-block__btn-more:visited {
  color: #fff;
}

.round-block__btn-more:hover,
.round-block__btn-more:active,
.round-block__btn-more:focus {
  color: #fff;
  text-decoration: none;
}

.round-block__btn-more:hover {
  background: #0084c5;
}

.round-block__btn-more:active {
  top: -85.5%;
}

.round-block__btn-more--active {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 85%;
  left: 0;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 1000px;
}

.round-block__btn-more-inner {
  width: 100%;
}

.round-block__info-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 0;
  background: rgba(255,255,255,.4);
  display: -webkit-box;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  padding-bottom: 3%;
}

.round-block__prices-wrapper {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 35px;
  padding-top: 5px;
  width: 100%;
  line-height: .5em;
}

.round-block__current-price {
  width: 100%;
  line-height: .5em;
  position: relative;
  top: 2%;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #005178;
  text-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 2px 0 0 #ffffff, -2px 0 0 #ffffff, 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px -2px 0 #ffffff;
}

.round-block__current-price:only-child {
  top: 0;
  align-self: center;
}

.round-block__old-price {
  width: 100%;
  line-height: .5em;
  position: relative;
  top: 2%;
  font-size: 1.2rem;
  color: #e52200;
  text-shadow: 0 1px 0 #ffffff, 0 -1px 0 #ffffff, 1px 0 0 #ffffff, -1px 0 0 #ffffff, 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff;
}

.round-block__old-price span {
  position: relative;
}

.round-block__old-price span::before {
  box-sizing: content-box;
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: 50%;
  height: 1px;
  background: #e52200;
  border: 1px #fff solid;
}

.round-block__photo {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

.round-block__desc {
  font-size: 1rem;
  min-height: 3em;
  color: #515151;
  margin-top: .7em;
  line-height: 1.2em;
}

/* / Index */


/* Service page */

.page-bg {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: -webkit-box;
  display: flex;
}

@media (min-width: 768px) {
  .page-bg {
    height: 350px;
  }
}

.page-bg > .container {
  position: relative;
  width: 100%;
}

.page-bg__discount {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  background: gold;
  border-radius: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.page-bg__discount span {
  font-weight: 700;
  font-size: 1.2rem;
}

.service-page {
  padding: 20px 0 50px 0;
}

.service-page h1 {
  margin: 1em 0;
  color: #333;
  text-align: center;
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.service-page__text {
  padding: 20px 0;
}

/* / Service page */


/* Footer form */

.footer-form {
  margin: 0;
  padding: 0;
}

.footer-form__title {
  margin: 40px 0 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.footer-form__form {
  background-color: #fff;
}

.footer-form__body {
  padding: 12px;
  width: 100%;
}

.footer-form__row:first-child ~ .footer-form__row {
  margin: 8px 0 0 0;
}

.footer-form__label {
  display: block;
  color: #575757;
  font-size: 20px;
  padding: 0 0 0 14px;
  margin-bottom: 3px;
  touch-action: manipulation;
}

.footer-form__req {
  vertical-align: top;
  color: #e62101;
  font-size: 25px;
  margin-left: 4px;
  position: relative;
  line-height: 1;
}

.footer-form__select {
  height: 54px;
  border-radius: 5px;
  display: block;
  width: 100%;
  border: 1px #d4d4d4 solid;
  padding: 10px 14px;
  font-size: 1.1rem;
  color: #585858;
  margin: 0;
  line-height: inherit;
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
}

/* BEM class names is not works to the ngClass directive */
.footer_form__row__error {
  border-color: #e62101 !important;
}

.footer-form__errors-text {
  font-size: 15px;
  padding: 1px 0 0;
  color: #e62101;
}

.footer-form__input {
  padding: 12px;
  width: 100%;
  height: 54px;
  margin-bottom: 4px;
  font-size: 0.8rem;
  color: #585858;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  overflow: visible;
  touch-action: manipulation;
  display: block;
}

.footer-form__submit-btn {
  background-color: #fb031a;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  width: 100%;
  margin: 0;
  padding: 12px;
  line-height: inherit;
  border-radius: 0;
  -webkit-appearance: button;
  touch-action: manipulation;
  overflow: visible;
  cursor: pointer;
}

.footer-form__submit-btn:hover[type="submit"] {
  background-color: #e52200;
}

/* / Footer form */


/* Modal Loading */

.modal-loading {
  padding: 30px 24px 25px 24px;
  text-align: center
}
.modal-loading:last-child {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .modal-loading {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media (min-width: 1200px) {
  .modal-loading {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal-loading__text {
  color:black;
}

/* / Modal Loading */


/* Modal Window */

.modal-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}

.modal-window__wrapper {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  min-width: 305px;
  padding: 75px 0;
}

.modal-window__body {
  position: absolute;
  left: 8px;
  right: 8px;
  background: #fff;
  max-width: 520px;
  margin: 0 auto 75px auto;
}

@media (min-width: 1200px) {
  .modal-window__body {
    max-width: none;
    width: 570px;
  }
}

.modal-window__header {
  position: relative;
  background: #0195df;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding: 20px 45px 20px 24px;
  line-height: 1.2em;
}

.modal-window__nowrap {
  white-space: nowrap;
}

@media (min-width: 400px) {
  .modal-window__header {
    padding-right: 24px;
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .modal-window__header {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media (min-width: 1200px) {
  .modal-window__header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal-window__btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 15px;
  top: 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURQAAAP///////////////////////////////////////88h6/kAAAAKdFJOUwBHV2roevWPyZE24ouuAAAAlklEQVQoz22R2xbDIAgEAdG0+/8fXDThog1vzpjjsiGyYWF6G/6gGIZycKC5YQWGBA8zuRkO/pibAyok8LF3nAPdEhUTfH7OzU8j+LUeTOPz9byHuXIpqbyVGlhG8L7Vk3mw9Vb4ZjZ+9PZm/vjRm+XZeqN6LU0n0rJvdtDsMEo/blZk0dLPbXrEyn7m/4kVufbDfd36AZyjC9D12m6zAAAAAElFTkSuQmCC');
  cursor: pointer;
  opacity: .5;
}

.modal-window__btn-close:hover,
.modal-window__btn-close:active {
  opacity: 1;
}

@media (min-width: 400px) {
  .modal-window__btn-close {
    top: 20px;
  }
}

@media (min-width: 1200px) {
  .modal-window__btn-close {
    right: -55px;
    top: -20px;
    height: 40px;
    width: 40px;
    border: 5px #fff solid;
    border-radius: 50px;
    opacity: 1;
    background-size: 18px 18px;
    transition: transform .3s linear;
  }

  .modal-window__btn-close:hover {
    transform: scale(1.1);
  }
}

/* / Modal Window */
